#app[v-cloak] {
    display: none;
}
body {
    margin: 0;
    background: url(./public/img/bg.png) #f5f5fb;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background: #f1f2f3; */
    color: #363636;
    /* font-family: '思源黑体'; */
}
#app {
    box-sizing: border-box;
    /* min-width: 1060px; */
    max-width: 2560px;
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    .header {
        height: 64px;
        padding: 2px 16px;

        .logo {
            float: left;
            height: 100%;
            img {
                height: 100%;
            }
        }

        .my_info {
            height: 100%;
            float: right;
            display: flex;

            .avatar {
                margin-left: 16px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .link {
                margin-left: 4px;
                display: flex;
                flex-direction: column;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }

                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: #000;
                }

                img {
                    width: 30px;
                    height: 30px;
                }

                span {
                    margin-left: 4px;
                    font-size: 18px;
                    font-weight: 800;
                }
            }
        }
    }

    .content {
        flex: 1;
        overflow: auto;
    }
}

.page_list {
    margin-top: 20px;
    padding: 0 180px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    .page_item {
        flex: 0 0 25%;
        margin: 10px 0;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        a {
            display: block;
            border-radius: 20px;
            background: #ffffff;
            padding: 15px;

            text-decoration: none;
            color: #000;
            cursor: pointer;

            transition: box-shadow 0.25s ease-out, transform 0.25s ease-out;

            &:hover {
                box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.07);
                transform: translateY(-3px);
                transition: box-shadow 0.25s ease-out, transform 0.25s ease-out;

                .logo {
                    transform: scale(1.1);
                    transition: transform 0.25s ease-out;
                }
            }

            .title {
                display: flex;
                align-items: center;

                .logo {
                    flex-shrink: 0;
                    height: 28px;
                    width: 28px;
                    transition: transform 0.25s ease-out;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h4 {
                    height: 28px;
                    line-height: 28px;
                    font-size: 16px;
                    color: #444;
                    font-weight: 500;
                    margin: 0;
                    padding-left: 15px;
                    overflow: hidden;
                }
            }
            p {
                color: #999;
                line-height: 24px;
                height: 48px;
                overflow: hidden;
                word-break: break-all;
                font-size: 14px;
                padding-top: 5px;
                margin: 0;
                margin-top: 5px;
            }
        }
    }
}

/* 手机端适配 */
@media screen and (max-width: 768px) {
    #app {
        width: 100vw;
        min-width: 100vw;
        overflow: hidden;

        .content {
            margin-top: 0.5rem;
        }
    }

    .page_list {
        margin-top: 0;
        padding: 0 0.5rem;
        flex: 1;

        .page_item {
            flex: 0 0 50%;
        }
    }
}

/* 中型屏幕适配 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .page_list {
        padding: 0 0.5rem;
        .page_item {
            flex: 0 0 33.33%;
        }
    }
}
