html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
#app {
  padding: 4vw;
  overflow: hidden;
}
#app .addValue {
  height: 12vw;
  position: fixed;
  padding-top: 4vw;
  top: 0;
  width: 92vw;
  background-color: #fff;
  z-index: 1;
}
#app .addValue .inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .addValue .inputBox input {
  width: 70%;
  height: 8vw;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
}
#app .showBox {
  margin-top: 12vw;
}
#app .showBox .showItem {
  box-sizing: border-box;
  height: 8vw;
  line-height: 8vw;
  display: flex;
  position: relative;
  vertical-align: text-bottom;
}
#app .showBox .showItem .id {
  width: 20%;
  color: steelblue;
}
#app .showBox .showItem .name {
  width: 40%;
}
#app .showBox .showItem .price {
  width: 20%;
  color: #a14747;
}
#app .showBox .showItem .number {
  width: 20%;
}
#app .showBox .showItem .tip {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #cccccc;
  text-align: center;
  color: #666;
}
#app .showBox .showItem .tip .book,
#app .showBox .showItem .tip .which,
#app .showBox .showItem .tip .sort {
  margin: 0 2vw;
  color: blue;
}
#app .showBox .showItem:hover .tip {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: text-bottom;
}
